@import url("https://use.fontawesome.com/releases/v5.11/css/all.css");

html, body {
    font-family: 'Calobro', Arial;
    font-size: 14px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}
body {
    background-color: #fff;
}

.grey{
    background-color: #333;
}

label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #373a3c;
}

.custom-select{
    box-shadow: none !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.room-separator{
    border-bottom: 2px solid #999 !important;
}

ul.fa-ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:active, a:hover {
        outline-width: 0
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em
}



fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}


h1, h2, h3, h4, h5, h6, .w3-slim, .w3-wide {
    font-family: "Segoe UI",Arial,sans-serif
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.w3-serif {
    font-family: "Times New Roman",Times,serif
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0
}

.w3-wide {
    letter-spacing: 4px
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

img {
    margin-bottom: -5px
}

a {
    color: inherit
}





/*Bootstrap Calendar*/
.datepicker {
    border-radius: 0;
    padding: 0;
}

.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}

.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}

    .datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
        border-radius: 3px;
    }

    .datepicker-days table thead tr:nth-child(3n+0) {
        text-transform: uppercase;
        font-weight: 300 !important;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}

.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}

.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}

.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}

.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}

    .datepicker .prev:hover, .datepicker .next:hover {
        background: transparent;
        color: rgba(255, 255, 255, 0.99);
        font-size: 21px;
    }

.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}

    .datepicker .datepicker-switch:hover {
        color: rgba(255, 255, 255, 0.7);
        background: transparent;
    }

.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}

    .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
        background-color: #3546b3;
        background-image: none;
    }

.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
}

.cartlink {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

#disclaimer-container {
    margin: 10px 0 0;
    max-height: 224px;
    padding: 10px;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ccc;
}



.viewmore-img-container{
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.viewmore-img-container:hover img {
    opacity: 0.5
}

    .viewmore-img-container:hover a.zoom-icon {
        opacity: 1; /* added */
        top: 0; /* added */
        z-index: 500;
    }
        /* added */
    .viewmore-img-container:hover a.zoom-icon span {
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
    /* added */
    .viewmore-img-container a.zoom-icon {
        display: block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: #212529;
    }

.round-border {
    border: solid 0.07em #ccc;
    border-radius: .3em;
}

.transparent {
    opacity: 0.2;
}

.creditcardimg{
    max-width: 70px;
}

.validation-summary-errors ul{
    list-style: none;
}

.detail-display-table td{
    padding: .3rem 0rem;
}


