@inherits LayoutComponentBase

<div>  
    <main>
        <div class="top-row px-4">
            <div><h2 class="text-center m-4">Hotel Top Nav Section</h2></div>
        </div>

        <div>
            @Body
        </div>
        <div><p class="text-center m-4">Footer Info</p></div>
    </main>
</div>


